/*contacts-list*/
.contact{
    display: flex;
    align-items: center;
}
.contact-r{
    padding-left: 20px;
}
.contact-name{
    padding-bottom: 5px;
    font-weight: bold;
}
.contact-phoneNumber{
    text-decoration: underline;
}
.search{
    margin-left: 40px;
    min-width: 250px;
    height: 30px;
    border: 2px solid grey;
}
/*end contacts-list*/